.videos{
  width: 280px;
}

.videos_title{
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 25px;
}

.video_item{
position: relative;
margin-bottom: 36px;
}



.video_item::before{
  position: absolute;
  bottom:-10px;
  left:-10px;
  content: "";
  width: 50px;
  height: 50px;

  display: block;

  background-image: url("img/vid.png");
  background-repeat: no-repeat;
  background-position: center;
}
